@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans TC", san-serif;
    height: 100vh;
}
:root{
    --Light-Cyan:#66AABB;
    --Lighter-Cyan:#AADDEE;
    --Dark-Cyan:#337788;
    --Cyan:#448899;
    --Blue-Gray:#AABBCC;
    --White:#FFFFFF;
    --Black:#000000;
    --Gray:#666666;
    --light-Gray:rgb(191,191,191);
    --lighter-Gray:rgb(232, 232, 232);
}
.wrapper{
    box-sizing: border-box;
    width:100%;
    max-width: 1920px;
    margin:0 auto;
}
header{
    height: 54px;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color:var(--White);
}
.header-content{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.theme{
    width: 150px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color:var(--Cyan);
}
.nav-item{
    display: flex;
    width: 175px;
    height: 34px;
    margin-top: 15px;
    justify-content: space-between;
    color: var(--Gray);
}
.nav-item-text:hover{
    cursor: pointer;
    color:var(--Dark-Cyan);
    font-weight: bold;
}
.img-and-proflie{
    width: 1200px;
    height: 400px;
    margin-top: 30px;
    display: flex;
    position: relative;
}
.slideshow-container{
    width: 540px;
    height: 400px;
    position: relative;
    margin-left: 10px;
    margin-right: 40px;
}

/* Hide the images by default */
.img-container{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
a{
    text-decoration: none;
}
.prev, .next{
    width: 36px;
    height: 36px;
    cursor: pointer; 
    background-size: cover;
    z-index: 6;
    position: absolute;
    top: 180px;
}
.prev{
    background-image: url("/static/icon/left-arrow.png");
    left: 10px;
    opacity: 0.4;
}
.next{
    background-image: url("/static/icon/right-arrow.png");
    right: 10px;
    opacity: 0.4;
}
.dots{
    width: 100%;
    position: relative;
    bottom: 20px;
    display: flex;
    justify-content: center;
    opacity: 0.4;
}
.dot{
    z-index: 6;
    width: 12px;
    height: 12px;
    cursor: pointer;
    z-index: 6;
    margin: 4px;
    background-color: var(--White);
    border-radius: 50%;
    border: 0.2mm solid var(--White);
    transition: background-color 0.6s ease;
}
.active, .dot:hover{
    background-color: var(--Black);
}
.slideshow-container:hover .prev{
    opacity: 1;
}
.slideshow-container:hover .next{
    opacity: 1;
}
.slideshow-container:hover .dots{
    opacity: 1;
}
.go-right{
    animation-name: go-right;
    animation-duration: 1s;
}
@keyframes go-right{
    from {right: -5px;}
    to {right: 0px;}
}
.go-left{
    animation-name: go-left;
    animation-duration: 1s;
}
@keyframes go-left{
    from {left: -5px;}
    to {left: 0px;}
}
.profile{
    width: 600px;
    height: 400px;
    position: relative;
}
.attraction-briefinfo{
    width: 100%;
    height: auto;
}
.attraction-name{
    width: 100%;
    height: auto;
    font-size: 24px;
    font-weight: bolder;
    color: var(--Gray);   
}
.briefinfo-box{
    width: 100%;
    height: auto;
    font-size: 16px;
    color: var(--Gray);
    margin-top: 10px;
}
.booking-form{
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: var(--lighter-Gray);
    padding-top: 0.05mm;
    padding-bottom: 36px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.form-text{
    width: 98.3%;
    height: auto;
    color: var(--Gray);
    padding-left: 10px;
}
.form-title{
    font-weight: bolder;
    padding-top: 15px;
    padding-bottom: 18px;
}
.form-content{
    padding-bottom: 5px;
}
.pick-date{
    width: 93.3%;  /*560px;*/
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: var(--Gray);
}
.pick-date input[type="date"]{
    width: 160px;
    height: 25px;
    padding-right: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}
.pick-time{
    width: 93.3%;
    height: auto;
    display: flex;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
    color: var(--Gray);
}
.radio-box{
    width: 80px;
    height: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 5fr;
    -webkit-appearance: none;
}
#morning, #afternoon{
    position: relative;
    bottom: 0px;
}
label{
    color: var(--Gray);
}
.radio-box input[type="radio"]{
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color:var(--White);
    cursor: pointer;
}
.radio-box input[type="radio"]:checked:after{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: var(--White);
    position: relative;
    background-color: var(--Dark-Cyan);
    content:"";
    display: inline-block;
}
.guide{
    width: 93.3%;
    display: flex;
    margin-top: 15px;
    padding-left: 10px;
    color: var(--Gray);
}
.btn-container{
    width: 154px;
    height: 36px;
}
.booking-btn{
    width: 154px;
    height: 36px;
    font-size: 20px;
    border:0;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--Dark-Cyan);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.booking-btn:hover{
    font-weight: bold;
    background-color: var(--Cyan);
}
hr{
    width: 1200px;
    position: relative;
    top: 40px;
    border:0;
    height: 1px;
    background: var(--lighter-Gray);
}
.attraction-infos{
    width: 1200px;
    height: auto;
    color: var(--Gray);
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.description{
    width: 98.3%;   /* 1180px */
    height: auto;
    margin-left: 10px;
    margin-bottom: 20px;
}
.address{
    width: 98.3%;
    height: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
}
.address-content{
    width: 98.3%;
    height: auto;
    margin-left: 10px;
    margin-bottom: 20px;
}
.transport{
    width: 98.3%;
    height: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 20px;
}
.transport-content{
    width: 98.3%;
    height: auto;
    margin-left: 10px;
}
.footer-content{
    display: flex;
    width: 100%;
    height: 104px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    color: var(--White);
    background-color: var(--Gray);
}
.footer-text{
    margin: auto;
}
#go-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:var(--Blue-Gray);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#go-to-top:hover{
    background-color:var(--Cyan);
}
.error-msg-box{
    box-sizing: border-box;
    width:100%;
    max-width: 1920px;
    height: 100%;
    min-height: 50px;
    margin:0 auto;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    margin-top: 300px;
    margin-bottom: 300px;
    color: var(--Gray);
}
.error-msg-box a{
    font-weight: bolder;
    color: var(--Dark-Cyan);
}
@media screen and (max-width:1200px) and (min-width:601px){
    header{
        width: 100%;
    }
    .header-content{
        width: 100%;
    }
    .theme{
        margin-left: 10px;
    }
    .nav-item{
        margin-right: 10px;
    }
    .img-and-proflie{
        width: 90%;
        height: 90%;
    }
    .slideshow-container{
        width: 90%;
        height: 340px;
        margin-right: 10px;
    }
    .prev, .next{
        width: 30px;
        height: 30px;
        top: 140px;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .profile{
        width: 90%;
        height: 270px;
        margin-right: 10px;
    }
    .attraction-name{
        font-size: 18px;
    }
    .briefinfo-box{
        height: 95%;
        font-size: 14px;
        margin-top: 0px;
    }
    .booking-form{
        height: 90%;
        padding-top: 0;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .form-text{
        width: 95%;
        font-size: 14px;
    }
    .form-title{
        font-weight: bolder;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .pick-date{
        font-size: 14px;
        margin-top: 15px;
    }
    .pick-date input[type="date"]{
        width: 140px;
    }
    .pick-time{
        font-size: 14px;
        height: auto;
        display: flex;
        margin-top: 5px;
    }
    .radio-box{
        width: 70px;
        height: auto;
        font-size: 14px;
    }
    #morning, #afternoon{
        position: relative;
        bottom: 1px;
    }
    label{
        font-size: 14px;
    }
    .radio-box input[type="radio"]{
        width: 16px;
        height: 16px;
    }
    .radio-box input[type="radio"]:checked:after{
        width: 80%;
        height: 80%;
    }
    .guide{
        margin-top: 15px;
        font-size: 14px;
    }
    .btn-container{
        width: 90%;
        height: 90%;
    }
    .booking-btn{
        width: 110px;
        height: 26px;
        font-size: 14px;
    }
    hr{
        width: 90%;
    }
    .attraction-infos{
        width: 90%;
        font-size: 14px;
    }
    .description, .address, .address-content, .transport, .transport-content{
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media screen and (max-width:600px) and (min-width:360px){
    header{
        width: 100%;
    }
    .header-content{
        width: 100%;
    }
    .theme{
        margin-left: 10px;
    }
    .nav-item{
        margin-right: 10px;
    }
    .img-and-proflie{
        width: 100%;
        height: 700px;
        display: grid;
        grid-template-rows: 50% 50%;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
    .slideshow-container{
        width: 100%;
        /* height: 280px; */
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 70px;
    }
    .prev, .next{
        width: 28px;
        height: 28px;
        top: 210px;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .profile{
        width: 95%;
        height: 260px;
        margin-top: 140px;
        margin-left: 9.5px;
        margin-right: 0px;
        margin-bottom: 180px;
    }
    .attraction-name{
        font-size: 18px;
    }
    .briefinfo-box{
        font-size: 14px;
    }
    .booking-form{
        height: 88%;
        padding-top: 0;
        margin-bottom: 10px;
    }
    .form-text{
        width: 95%;
        font-style: 14px;
    }

    .form-title{
        font-weight: bolder;
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .pick-date{
        font-size: 14px;
    }
    .pick-time{
        font-size: 14px;
    }
    .radio-box{
        font-size: 14px;
    }
    #morning, #afternoon{
        bottom: 1px;
    }
    label{
        font-size: 14px;
    }
    .radio-box input[type="radio"]{
        width: 16px;
        height: 16px;
    }
    .radio-box input[type="radio"]:checked:after{
        width: 80%;
        height: 80%;
    }
    .guide{
        margin-top: 20px;
    }
    .btn-container{
        width: 85%;
        height: 85%;
        margin-top: 10px;
    }
    .booking-btn{
        width: 110px;
        height: 26px;
        font-size: 16px;
    }
    hr{
        width: 90%;
        top: 60px;
    }
    .attraction-infos{
        width: 90%;
        font-size: 14px;
        margin-top: 90px;
    }
    .description, .address, .address-content, .transport, .transport-content{
        margin-left: 5px;
        margin-right: 5px;
    }
    .error-msg-box{
        margin-top: 200px;
        margin-bottom: 200px;
    }
}