body{
    margin:0;
    font-family: "NOTO Sans TC", san-serif;
    height: 100vh;
}
:root{
    --Light-Cyan:#66AABB;
    --Lighter-Cyan:#AADDEE;
    --Dark-Cyan:#337788;
    --Cyan:#448899;
    --Blue-Gray:#AABBCC;
    --White:#FFFFFF;
    --Black:#000000;
    --Gray:#666666;
    --light-Gray:rgb(191,191,191);
    --lighter-Gray:rgb(232, 232, 232);
}
a{
    text-decoration: none;
}
.wrapper{
    box-sizing: border-box;
    width:100%;
    max-width: 1920px;
    margin:0 auto;
    
}
header{
    height: 54px;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color:var(--White);
    border-bottom: 1px solid var(--lighter-Gray);
}
.header-content{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.theme{
    width: 150px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color:var(--Cyan);
}
.nav-item{
    display: flex;
    width: 175px;
    height: 34px;
    margin-top: 15px;
    justify-content: space-between;
    color: var(--Gray);
}
.nav-item-text:hover{
    cursor: pointer;
    color:var(--Dark-Cyan);
    font-weight: bold;
}
.welcome-message{
    width: 1000px;
    height: 27px;
    display: flex;
    margin: 40px auto 0 auto;
    padding-top: 5px;
    font-size: 18px;
    font-weight: bold;
    color: var(--Gray);
}
.booking-form{
    width: 980px;
    height: 200px;
    display: flex;
    margin: 40px auto;
}
.booking-img-container{
    width: 250px;
    height: 200px;
}
.booking-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.booking-infomation{
    width: 700px;
    height: 170px;
    margin-left: 30px;
    font-size: 16px;
}
.booking-name{
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
    color: var(--Dark-Cyan);
}
.booking-date, .booking-time, .booking-price, .booking-address{
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--Gray);
}
.info-list{
    font-weight: bold;
}
.delete-booking{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
hr{
    width: 1200px;
    border:0;
    height: 1px;
    background: var(--lighter-Gray);
}
.contact-form{
    width: 980px;
    height: 230px;
    color: var(--Gray);
    margin: 40px auto;
    padding-bottom: 15px;
}
.form-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact-error-notice{
    position: relative;
    top: -42px;
    left: 120px;
}
.form-list{
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
}
.form-list input{
    font-size: 16px;
    width: 200px;
    height: 38px;
    border-radius: 5px;
    border: 1.5px solid var(--lighter-Gray);
    outline: none;
    padding-left: 10px;
}
.form-warning-msg{
    font-weight: bold;
    position: relative;
    bottom: -70px;
}
.payment-form{
    width: 980px;
    height: 230px;
    color: var(--Gray);
    margin: 40px auto;
}
.submit-box{
    width: 980px;
    height: 100px;
    margin: 40px auto;
    text-align: right;
}
.total-price{
    color: var(--Gray);
    font-weight: bold;
}
.submit-btn{
    margin-top: 20px;
    width: 173px;
    height: 36px;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--Cyan);
    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.submit-btn:hover{
    font-weight: bold;
    background-color: var(--Cyan);
}
.error-msg-box{
    box-sizing: border-box;
    width:100%;
    max-width: 1920px;
    height: 100%;
    min-height: 50px;
    margin:0 auto;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    margin-top: 300px;
    margin-bottom: 300px;
    color: var(--Gray);
}
.error-msg-box a{
    font-weight: bolder;
    color: var(--Dark-Cyan);
}
.form-list.success input{
    border-color: var(--lighter-Gray);
}
.form-list.error input{
  border-color: #e74c3c;
}
.form-list{
    position: relative;
    bottom: -50px;
    margin-bottom: 10px;
}
.form-list small{
    visibility: hidden;
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 300px;
    font-size: 14px;
}
.form-list.error small{
    color: red;
    visibility: visible;
}
.footer-content{
    display: flex;
    width: 100%;
    height: 104px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    color: var(--White);
    background-color: var(--Gray);
}
.footer-text{
    margin: auto;
}
#go-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:var(--Blue-Gray);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#go-to-top:hover{
    background-color:var(--Cyan);
}
.form-title-box{
    width: 300px;
    height: 50px;
    position: absolute;
    padding-bottom: 20px;
}
.card-error-notice{
    position: relative;
    top: -42px;
    left: 140px;
}
.form-box{
    width: 300px;
    height: auto;
    margin-bottom: 40px;
    position: relative;
    bottom: -50px;
}
.form-subtitle{
    padding-bottom: 20px;
}
.tpfield{
    height: 35px;
    width: 200px;
    border: 1.5px solid var(--lighter-Gray);
    margin: 0px 0 30px 0;
    padding: 5px;
    position: absolute;
    top: -10px;
    left: 80px;
    border-radius: 5px;
}
.tappay-field-focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.card-error-notice, .contact-error-notice{
    font-size: 14px;
    color: red;
    display: none;
}
@media screen and (max-width:1200px) and (min-width:600px){
    header{
        width: 100%;
    }
    .header-content{
        width: 100%;
    }
    .theme{
        margin-left: 10px;
    }
    .nav-item{
        margin-right: 10px;
    }
    .welcome-message{
        width: 90%;
    }
    .booking-form{
        width: 90%;
    }
    .booking-img-container{
        width: 250px;
        height: 200px;
    }
    .booking-img{
        width: 250px;
        height: 200px;
    }
    .booking-infomation{
        width: 90%;
    }
    hr{
        width: 90%;
    }
    .contact-form{
        width: 90%;
    }
    .payment-form{
        width: 90%;
    }
    .submit-box{
        width: 90%;
    }
}
@media screen and (max-width:600px) and (min-width:360px){
    header{
        width: 100%;
    }
    .header-content{
        width: 100%;   
    }
    .theme{
        margin-left: 10px;
    }
    .nav-item{
        margin-right: 10px;
    }
    .welcome-message{
        width: 90%;
    }
    .booking-form{
        width: 90%;
        height: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px auto;
        padding-bottom: 20px;
    }
    .booking-img-container{
        width: 90%;
    }
    .booking-infomation{
        width: 90%;
        margin-left: 0px;
        margin-top: 15px;
    }
    .delete-booking{
        margin-top: 30px;
        position: absolute;
        top: 545px;
        right: 35px;
    }
    hr{
        width: 90%;
    }
    .contact-form{
        width: 90%;
        margin: 40px auto 60px auto;
    }
    .payment-form{
        width: 90%;
    }
    .submit-box{
        width: 90%;
    }
}