@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
body{
    margin:0;
    font-family: "NOTO Sans TC", san-serif;
    padding-top: 60px;
}

:root{
    --Light-Cyan:#66AABB;
    --Lighter-Cyan:#AADDEE;
    --Dark-Cyan:#337788;
    --Cyan:#448899;
    --Blue-Gray:#AABBCC;
    --White:#FFFFFF;
    --Black:#000000;
    --Gray:#666666;
    --light-Gray:rgb(191,191,191);
}

.wrapper{
    box-sizing: border-box;
    width:100%;
    max-width: 1920px;
    margin:0 auto;
}
.header-content{
    box-sizing: border-box; 
    height:54px;    /*設計稿規格*/
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: var(--White);
}
.theme{
    width: 150px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color:var(--Cyan);
    /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
    margin-left: 350px;
}
.nav-item{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 350px;
    position: absolute;
    width: 175px;
    height: 34px;
    right: 0px;
    bottom: 0px;
    justify-content: space-between;
    color: var(--Gray);
}
.section-banner{
    box-sizing: border-box;
    width: 100%;
    height: 320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -6px;
}
.banner{
    width: auto;
    height: 169px;
    margin-left: 360px;
    position: relative;
    top:75px;
    z-index: 1;
}
.slogan{
    width: 100%;
    height:auto;
    color: var(--White);
}
.slogan .h2{
    width: 1180px;
    height: 41px;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;  
}
.slogan .p{
    width: 1180px;
    height: 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
}
.search-bar{
    width: 460px;
    height:46px;
    display: flex;
}
.search-bar .input input{
    width: 400px;
    height: 44px;
    font-size: 16px;
    font-weight:bolder;
    border-style: none;
    border-radius: 5px 0px 0px 5px;
    color: var(--Black);
    outline: none;
    padding-left: 10px;
}
::placeholder{
    padding-left: 2px;
    color: var(--Gray);
}
#search-btn{
    width: 60px;
    height: 100%;
    border-style: none;
    border-radius: 0px 5px 5px 0px;
    background-color: var(--Dark-Cyan);
}
.magnifier{
    width: 60%;
    height: 60%;
    object-fit: cover;
}
.welcome-img-container{
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 170px;
}
.welcome-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.categories-menu{
    width: 405px;
    height: 120px;
    position: relative;
    top: 2px;
    align-items: center;
    color: var(--Black);
    background-color: var(--White);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    visibility: hidden;
}
.category-item{
    width: 90px;
    font-size: 14px;
    text-align: center;
    cursor:pointer;
}
.category-item:hover{
    background-color: var(--light-Gray);
    border-radius: 5px;
}
.show{
    visibility: visible;
}
.section-attractions{
    box-sizing: border-box;
    width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    margin: auto;
    margin-top: 50px;
}
.attraction{
    width: 270px;
    height: 242px;
    margin: auto;
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    border-style: solid;
    border-width:0.01mm;
    border-color: var(--light-Gray);
}
.img-container{
    width: 100%;
    height: 100%;
}
.attraction-img{
    width: 100%;
    height: 197px;
    object-fit: cover;
}
.attraction-name{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--White);
    background-color: var(--Black);
    opacity: 0.7;
    position: relative;
    padding-left: 10px;
    bottom: 85px;
}
.attraction-info{
    display: inline;
    width: 100%;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: var(--Gray);
    position: relative;
    bottom: 85px;
}
.attraction-mrt{
    margin-left: 10px;
}
.attraction-category{
    margin-right: 10px;
}
.error-msg{
    margin: auto;
    padding-bottom: 30px;
    font-size: 20px;
    color: var(--Gray);
}
.footer-content{
    display: flex;
    width: 100%;
    height: 104px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    color: var(--White);
    background-color: var(--Gray);
}
.footer-text{
    margin: auto;
}
#go-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:var(--Blue-Gray);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  #go-to-top:hover {
    background-color:var(--Cyan);
  }
@media screen and (max-width:1200px) and (min-width:600px){
    .header-content{
        justify-content: space-between;
    }
    .theme{
        margin-left: 10px;
    }
    .nav-item{
        margin-right: 10px;
    }
    .banner{
        margin: auto;
    }
    .section-attractions{
        width: 90%;
        height: auto;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .attraction{
        width: 90%;
        height: 90%;
    }
    .attraction-img{
        display: block;
        object-fit: cover;
    }
    .error-msg{
        position: relative;
        left: 120px;
    }
}
@media screen and (max-width:600px) and (min-width:360px){
    .header-content{
        justify-content: space-between;
    }
    .theme{
        margin-left: 10px;
    }
    .nav-item{
        margin-right: 10px;
    }
    .section-banner{
        margin-bottom: 30px;
    }
    .banner{
        width: 320px;
        margin: auto;
    }
    .slogan{
        width: 90%;
    }
    .slogan .h2{
        font-size: 14px;
    }
    .slogan .p{
        line-height: 12px;
    }
    .search-bar{
        width: 285px;
        height: 46px;
    }
    .search-bar .input input{
        width: 100%;
    }
    ::placeholder{
        padding-left: 0px;
    }
    #search-btn{
        margin-left:12px;
        width: 60px;
        height: 100%;
    }
    .magnifier{
        object-fit: cover;
    }
    .categories-menu{
        width: 322px;
    }
    .section-attractions{
        width: 90%;
        height: auto;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    .attraction{
        width: 322px;
        height: 280px;
    }
    .attraction-img{
        display: block;
        object-fit: cover;
    }
    .error-msg{
        display: block;
        margin: auto;
    }
    #go-to-top {
        right: 50px;
    }
    #go-to-top {
        padding: 12px;
        border-radius: 8px;
        font-size: 12px;
      }
}