body{
    margin:0;
    font-family: "NOTO Sans TC", san-serif;
    height: 100vh;
}
:root{
    --Light-Cyan:#66AABB;
    --Lighter-Cyan:#AADDEE;
    --Dark-Cyan:#337788;
    --Cyan:#448899;
    --Blue-Gray:#AABBCC;
    --White:#FFFFFF;
    --Black:#000000;
    --Gray:#666666;
    --light-Gray:rgb(191,191,191);
    --lighter-Gray:rgb(232, 232, 232);
}
a{
    text-decoration: none;
}
.wrapper{
    box-sizing: border-box;
    width:100%;
    max-width: 1920px;
    margin:0 auto;
    
}
header{
    height: 54px;
    position: sticky;
    top: 0;
    z-index: 50;
    background-color:var(--White);
}
.header-content{
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.theme{
    width: 150px;
    height: 34px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color:var(--Cyan);
}
.nav-item{
    display: flex;
    width: 175px;
    height: 34px;
    margin-top: 15px;
    justify-content: space-between;
    color: var(--Gray);
}
.nav-item-text:hover{
    cursor: pointer;
    color:var(--Dark-Cyan);
    font-weight: bold;
}
.thank-you-card{
    height: auto;
    margin-bottom: 20px;
}
.order-success{
    width: 470px;
    height: auto;
    margin: 50px auto 50px auto;
    color: var(--Gray);
    border-radius: 5px;
    border: 1px solid var(--lighter-Gray);
    box-shadow: 10px 10px 5px var(--Blue-Gray);
}
.order-img-container{
    width: 420px;
    height: 300px;
    margin: 10px auto 10px auto;
    
}
.order-img-container:hover{
    transform: scale(0.9);
}
.order-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid var(--lighter-Gray);
}
.thanks-title{
    width: 100%;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: var(--Cyan);
    text-align: center;
    padding: 10px 0 10px 0;
}
.order-number{
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.subtitle{
    color: var(--Cyan);
    font-weight: bold;
    padding: 10px;
}
.order-name, .order-date, .order-time, .order-address{
    padding: 10px;
}
.notice{
    color: var(--Blue-Gray);
    font-weight: bold;
    padding: 20px 10px;
}
.detail-list{
    font-weight: bold;
}
.print-btn{
    display: flex;
    position: relative;
    bottom: 15px;
    margin: 10px auto;
    width: 173px;
    height: 36px;
    border-radius: 5px;
    color: var(--White);
    background-color: var(--Cyan);
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.print-btn:hover{
    font-weight: bold;
    background-color: var(--Cyan);
}
.order-processing{
    width: 600px;
    height: 500px;
    margin: 50px auto 100px auto;
    padding-top: 200px;
    color: var(--Gray);
    border-radius: 5px;
    border: 1px solid var(--lighter-Gray);
    box-shadow: 10px 10px 5px var(--Blue-Gray);
}
.error-msg-box{
    box-sizing: border-box;
    width:100%;
    max-width: 1920px;
    height: 100%;
    min-height: 50px;
    margin:400px auto;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    color: var(--Gray);
}
.footer-content{
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 104px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
    color: var(--White);
    background-color: var(--Gray);
}
.footer-text{
    margin: auto;
}
#go-to-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:var(--Blue-Gray);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#go-to-top:hover{
    background-color:var(--Cyan);
}
@media print {
    /*color*/
    * {
        -webkit-print-color-adjust: exact !important;
      }
    .thank-you-card{
        /*元素前要被分頁*/
        /* page-break-after:always; */
        /*element no break*/
        page-break-inside:avoid;
    }
    .header-content, .nav-item, .footer-content, .print-btn{
        display: none;
    }
    #go-to-top{
        display: none;
    }
}
@page {
    size: A4 portrait;
}
@media screen and (max-width:1200px) and (min-width:600px){
    header{
        width: 100%;
    }
    .header-content{
        width: 100%;
    }
    .theme{
        margin-left: 10px;
    }
    .nav-item{
        margin-right: 10px;
    }
    .order-success{
        width: 90%;
        margin: auto;
    }
    .order-img-container{
        width: 90%;
    }
    .print-btn{
        bottom: -5px;
    }
    .order-processing{
        width: 90%;
        margin: auto;
    }
}
@media screen and (max-width:600px) and (min-width:360px){
    header{
        width: 100%;
    }
    .header-content{
        width: 100%;   
    }
    .theme{
        margin-left: 10px;
    }
    .nav-item{
        margin-right: 10px;
    }
    .order-success{
        width: 90%;
        margin: auto;
    }
    .order-img-container{
        width: 90%;
    }
    .print-btn{
        bottom: -5px;
    }
    .order-processing{
        width: 90%;
        margin: auto;
    }
}