{% extends "base.html" %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/attraction.css">
        <link rel="stylesheet" type="text/css" href="/static/css/member.css">
    {% endblock css %}

    {% block title %}
        <title>景點資訊</title>
    {% endblock title %}

    {% block section %}
        <div class="img-and-proflie wrapper">
            <div class="slideshow-container">
                <div class="dots"></div>
                <a class="prev" onclick="plusSlides(-1)"></a>
                <a class="next" onclick="plusSlides(1)"></a>
            </div>
            <div class="profile">
                <div class="attraction-briefinfo">
                    <div class="attraction-name">
                        <h3 class="name"></h3>
                    </div>
                    <div class="briefinfo-box">
                        <span class="category"></span> at <span class="mrt"></span>
                    </div>
                </div>
                <div class="booking-form">
                    <div class="form-text">
                        <div class="form-title">訂購導覽行程</div>
                        <div class="form-content">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                    </div>
                    <div class="pick-date">選擇日期：
                        <input type="date" placeholder="" value="">
                   </div>
                   <div class="pick-time">選擇時間：
                        <div class="radio-box">
                            <input type="radio" id="morning" name="time" value="上半天" checked>
                            <label for="morning">上半天</label>
                        </div>
                        <div class="radio-box">
                            <input type="radio" id="afternoon" name="time" value="下半天">
                            <label for="afternoon">下半天</label>
                        </div>
                   </div>
                   <div class="guide">
                        <div class="guide-fee">導覽費用：</div>
                        <div class="fee"></div>
                   </div>
                   <div class="btn-container">
                        <button class="booking-btn" id="booking-btn" type="submit">開始預約行程</button>
                    </div>
                </div>
            </div>     
        </div>
        <hr/ class="hr">
        <div class="attraction-infos wrapper">
            <div class="description"></div>
            <div class="address">景點地址:</div>
            <div class="address-content"></div>
            <div class="transport">交通方式:</div>
            <div class="transport-content"></div>
        </div>
    {% endblock section %}

    {% block js %}
        <script type="text/javascript" src="/static/js/attraction.js"></script>
        <script type="text/javascript" src="/static/js/member.js"></script>
    {% endblock js %}