{% extends "base.html" %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    {% endblock css %}

    {% block title %}
        <title>台北一日遊 - 首頁</title>
    {% endblock title %}

    {% block section %}
        <section class="section-banner wrapper">
            <div class="banner">
                <div class="slogan" id="slogan">
                    <h2>輕鬆享受台北一日悠閒</h2>
                    <p>探索每個角落，體驗城市的深度旅遊行程</p>
                </div>
                <div class="search-bar">
                        <div class="input">
                            <input type="text" placeholder="輸入景點名稱查詢" name="keyword" id="keyword" class="input-click" onfocus="this.placeholder=''" onblur="this.placeholder='輸入景點名稱查詢'" onclick="showMenu()">
                        </div>
                        <button id="search-btn">
                            <img class="magnifier" src="/static/icon/search.png" alt="search">
                        </button>   
                </div>
                <div class="categories-menu" id="categories-menu">
                </div>
            </div>
            <div class="welcome-img-container">
                <img class="welcome-img" src="/static/icon/welcome_image.png" alt="welcome_image_taipei101" title="welcome_image_taipei101">
            </div>
        </section>
        <section class="section-attractions" id="section-attractions">
        </section>
    {% endblock section %}

    {% block js %}
        <script type="text/javascript" src="/static/js/index.js"></script>
    {% endblock js %}